@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    display: grid;
    place-content: center;
    height: 100vh;
    background-color: #333;
    z-index: 2000;
    position: relative;
}
.canvas {
    border: 1px solid red;
    border-bottom-color: transparent;
    background-size: cover;
    background-position: center center;
}
.toolbox {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 1rem;
    border: 1px solid red;
    border-top-color: transparent;
    background-color: wheat;
}

.btn,
.size {
    border-radius: 4px;
    border: 1px solid black;
    width: 50px;
    height: 50px;
    font-size: 20px;
    display: grid;
    place-content: center;
    background-color: white;
}

.btn:active {
    transform: scale(0.97);
}

/* .size{
    font-size: 20px;
    margin: 0 10px ;
    width: 50px;
    height: 50px;
} */

#clear {
    margin-left: auto;
}

.pencil {
    display: grid;
    place-items: center;
    gap: 4px;
    width: 50px;
    height: 50px;
}

.hidden {
    position: relative;
    z-index: 200;
}

.url {
    position: absolute;
    background-color: white;
    padding: 10px;
    width: 200px;
    display: none;
    place-content: center;
    gap: 5px;
    top: -100px;
    border-radius: 4px;
    z-index: 10;
    box-shadow: 1px 1px 10px black;
    transform: rotateY(90deg);
    opacity: 0;
    transition: 1s;
}

.url.display {
    display: grid;
}

.url.display.show{
    opacity: 1;
    transform: rotateY(0);
}

.url::after {
    content: "";
    width: 50px;
    height: 50px;
    background-color: white;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    z-index: -1;
}
